/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-text-field-wrapper {
    width: 600px;
}
.mat-mdc-text-field-wrapper {
    width: 600px;
}
.srh .mdc-text-field--filled:not(.mdc-text-field--disabled){
    width: 600px;
}
.space_select .mdc-text-field--filled:not(.mdc-text-field--disabled){
    width: 150px;
}